beautifulsoup4
email-validator
flask
flask-dance
flask-login
flask-sqlalchemy
gunicorn
oauthlib
openai
pdfminer
psycopg2
pyjwt
requests
trafilatura
werkzeug
pdfminer.six
beautifulsoup4
email-validator
flask
flask-dance
flask-login
flask-sqlalchemy
gunicorn
oauthlib
openai
pdfminer.six
psycopg2-binary
pyjwt
requests
trafilatura
werkzeug
stripe
email-validator
flask-bcrypt
flask-login
flask-wtf
wtforms
reportlab
